*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  
  body {
    background-color: #170E2A;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  nav {
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 4rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 0 4rem;
  }
  
  nav>h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 3rem;
  }
  
  nav>h1>span {
    width: 64px;
    height: 48px;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }
  
  
  .link-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    width: 50%;
    height: 3rem;
  }
  
  .link-holder>a {
    color: #000;
    font-size: 1rem;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    margin: 0 3rem
  }
  
  .container {
    /* background-image: url(https://seeklogo.com/images/M/MTN-logo-459AAF9482-seeklogo.com.png); */
    /* opacity: 50%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80vw;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 5px;
    background-color: #f3f3f3;
  
  }
  
  
  .form-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: transparent;
  }
  
  input[type="tel"] {
    
    height: 3rem;
    color: #000;
    font-size: 1rem;
    background: transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 20px;
    font-family: inherit;
    outline: 0px;
    cursor: pointer;
  }
  
  .input-holder {
    max-width: 50%;
    border-radius: 4px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
@media screen and (max-width:500px) {
  .input-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}  
div.number-and-carrier {
  display: grid;
  grid-template-columns: 10rem 3rem;
  border: 1px solid grey;
}

.carrier-logo {
  max-height: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0.6rem
}

.carrier-logo > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
} 

.input-holder>label {
  
  text-align: center;
  color: #000000;
}


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 4rem;
  text-align: center;
}

footer>p {
  color: #fff;
  font-size: 0.8rem;
}
  
.error-message {
  color: rgb(240, 66, 66)
}

  @media(max-width: 765px) {
  
    nav {
      justify-content: center;
      width: 70%;
    }
  
    nav>h1 {
      width: 50%;
    }
  
    .link-holder {
      display: none
    }
  
    .input-holder>input {
      width: 14rem;
      height: 3rem;
    }
  
    footer>p {
      color: #fff;
      font-size: 0.6rem;
      width: 50%;
    }
  
  }